:root {
    --green-side: #556137;
    --green-main: #cdcd8e;
    --green-line: #a6b59e;
    --green-hf: #7c9461;

}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:
        minmax(max-content, 25%)
        10%
        minmax(max-content, 35%)
        5%
        minmax(max-content, 25%);
    height: 100vh;
}

.header,
.left-aside,
.navigation,
.main,
.bottom-aside,
.right-aside,
.footer {
    padding: 10px 10px 10px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-hf);
    grid-area: 1 / 1 / 1 / 4;
    box-sizing: border-box;
}

.header_title {
    margin-right: auto;
}

.left-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-side);
    grid-area: 2 / 1 / 5 / 1;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    background: var(--green-line);
    grid-area: 2 / 2 / 2 / 4;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-main);
    grid-area: 3 / 2 / 3 / 2;
    box-sizing: border-box;
}

.bottom-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-line);
    grid-area: 4 / 2 / 4 / 2;
    box-sizing: border-box;
}

.right-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-side);
    grid-area: 3 / 3 / 5 / 3;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--green-hf);
    grid-area: 5 / 1 / 5 / 4;
    box-sizing: border-box;
}

.footer_title {
    margin-right: auto;
}

.main__image {
    width: auto;
    height: 70%;
    margin: auto;
}

.main__map-img {
    margin: auto;
    width: 70%;
    height: auto;
}
