.container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: minmax(min-content, 25%) minmax(min-content, 10%) minmax(min-content, 35%) minmax(min-content, 5%) minmax(min-content, 25%);
    height: 100vh;
    width: 100vw;
}

.header,
.left-aside,
.navigation,
.main,
.bottom-aside,
.right-aside,
.footer {
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7c9461;
    grid-area: 1 / 1 / 1 / 4;
}

.header_title {
    margin-right: auto;
}

.left-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #556137;
    grid-area: 2 / 1 / 5 / 1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
    background: #a6b59e;
    grid-area: 2 / 2 / 2 / 4;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #cdcd8e;
    grid-area: 3 / 2 / 3 / 2;
}

.bottom-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a6b59e;
    grid-area: 4 / 2 / 4 / 2;
}

.right-aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #556137;
    grid-area: 3 / 3 / 5 / 3;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7c9461;
    grid-area: 5 / 1 / 5 / 4;
}

.footer_title {
    margin-right: auto;
}

.main__image {
    width: auto;
    height: 70%;
    margin: auto;
}

.main__map-img {
    margin: auto;
    width: 70%;
    height: auto;
}
